.cart-bt {
    width: fit-content;
    padding: 4px;
    font-size: 16px;
    border-radius: 6px;
    height: 40px;
    position: fixed;
    top: 0;
    margin-left: 90%;
}
.cart-bt, .cart-bt span {
    background-color: #F8D71C;
    padding-top: 10px;
}
.cart-bt:hover {
    opacity: 0.6;
    cursor: pointer;
}
hr {
    margin-top: 8px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
}
.cart-bt span {
    margin-right: 5px;
    margin-left: 5px;
}
.Menu-div {
    margin: 0 auto;
    width: 50%;
    padding-top: 190px;
}
.s-dish {
    margin-top: 30px;
}
.Menu-div h1, .Menu-div h3 {
    color: #F8D71C;
}
.Menu-div h3 {
    font-size: 20px;
}
h4 {
    color: white;
}
.cars {
    display: flex;
    margin-top: 50px;
}
.car {
    border: 1px solid white;
    border-radius: 8px;
    padding: 20px;
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
}
.car p {
    color: white;
    margin-top: 30px;
    font-size: 20px;
}
.order-fast {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.quan {
    width: 100px;
    padding: 10px;
    background-color: #F8D71C;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    font-size: 22px;
    margin-right: 19px;
    border-radius: 8px;
}
.quan span {
    background-color: #F8D71C;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
}
.sd-link {
    text-decoration: none;
    color: black;
    height: 45px;
    background-color:#F8D71C;
}
.sd-link:hover {
    color: white;
    cursor: pointer;
    background-color: black;
}
#quan-id {
    color: black;
    background-color: white;
    padding-top: 7px;
    font-size: 20px;
}
.nav-link {
    text-decoration: none;
    background-color: #F8D71C;
    color: #035F3C;
}
.add-to-cart {
    padding: 10px;
    margin-top: 10px;
    background-color: #F8D71C;
    margin-left: 10px;
    border-radius: 8px;
}
.add-to-cart span {
    background-color: #F8D71C;
    font-size: 17px;
    text-align: center;
}
.add-to-cart:hover {
    cursor: pointer;
    color: white;
}